/* ******************************/
/*          TYPOGRAPHY          */
/* ******************************/
h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 24px;
}

p{
    line-height: 1.5;
}

strong{
    font-weight: 700;
}

a{
    font-weight: 600;
    color:#575051;
}

.small{
    font-weight: 600;
    font-size: 12px;
}

.subtitle{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal; 
}

.button-text{
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.pre-title{
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ***************************************/
/*                TEXT COLORS            */
/* ***************************************/
.primary{
    color: #A4646E;
}

.dark{
    color: #0A0F0C;
}

.light{
    color: #F5F5F3;
}