@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@400;500;600;700&display=swap');
@import "css/design-system.css";
@import "css/menus.css";
@import "css/footer.css";

/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    object-fit: cover;
}
/* BASIC STYLE */
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #575051;
    background-color: #F5F5F3;
}

/* LAYOUT BASICS */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}

.container{
    max-width: 1440px;
    padding: 0 60px;
    width: 100%;
}
.container-10 {
    max-width: 1096px;
}
.container-8{
    max-width: 874px;
}
.container.fluid {
    max-width: none;
    padding: 0;
}

.footer-distance{
    padding-bottom: 150px;
}

.flex-row-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ******************************** */
/*             CTAs                 */
/* ******************************** */
.cta-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 215px;
    height: 50px;
    padding: 20px 50px;
    
    color: #F5F5F3;
    background-color: #A4646E;
    border-radius: 8px;
}



/* *********************/
/*   MAIN CONTENT      */
/* *********************/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SNIPPET FOR COVER IMAGE IN DIVS */
.cover-image{
    height: 900px;
    /* ref: https://css-tricks.com/perfect-full-page-background-image/ */
    background: no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* GENERIC TEXTBOX */
.textbox{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.textbox h2{
    padding-bottom: 20px;
}

/* HOME CONTENT */
#home-cover{
    background-image: url(img/HeroImage.jpg);
    background-attachment: fixed;
}

#home .flex-col-centered{
    justify-content: space-around;  
}
#home .textbox{
    text-align: center;
}
#home-title{
    font-size: 144px;
}
#home-icon-wrapper{
    justify-content: space-between;
    width: 650px;
    padding: 95px 0px;
}

/* DESCRIPTION CONTENT */
#desc1-cover{
    background-image: url("img/900/900.jpg");
    margin-top: -100px;
}
#desc2-cover{
    background-image: url("img/900/900-1.jpg");
}
#desc3-cover{
    background-image: url("img/900/900-2.jpg");
}
#desc4-cover{
    background-image: url("img/900/900-3.jpg");
}

#description .left{
    align-items: flex-start;
    padding-left: 60px;
}
#description .right{
    align-items: flex-end;
    padding-right: 60px;    
}

#description .textbox{
    width: 467px;
    border-radius: 10px;
    background-color: rgba(10, 15, 12,65%);
}

/* PERSON CARD */
.person{
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.person.left{
    flex-direction: row;
}
.person.right{
    flex-direction: row-reverse;
}
.person.left .textbox{
    padding-left: 100px;
}
.person.right .textbox{
    padding-right: 100px;
}

/* CONTENT CAST */
#cast .person.right img{
    margin-right: -60px;
}
#cast .person.left img{
    margin-left: -60px;
}

/* CONTENT REGIA */
#filmografia h2{
    padding: 70px 0;
}
#filmografia .griglia-film{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 76px;
    justify-items: center;
    justify-content: space-around;
    
}

/* CRITICA CONTENT */
.critica {
    padding-top: 70px;
}
.critica img, .critica p{
    padding-bottom: 20px;
}

/* SITI UTILI CONTENT */
#siti-utili{
    height: 714px;
}
#siti-utili .flex-row-centered{
    position: relative;
    height: 714px;
}
#siti-utili .textbox{
    max-width: 427px;
    position: absolute;
    right: 60%;
}

#siti-utili .textbox a{
    padding: 5px 0px;
}

#siti-utili #image-siti-utili{
    position: absolute;
    left: 50%;
    height: 714px;
}
#siti-utili #image-siti-utili img{
    height: 100%;
    width: 100%;
}

/* GALLERY & CURIOSITA HEADER */
.cover-image.h645{
    height: 645px;
    width: 100%;
    position: relative;
}
.cover-image.h645 h1{
    position: absolute;
    bottom: 40px;
    left: 60px;
    text-shadow: 1px 1px 15px #0A0F0C;
}

/* GALLERY CONTENT */
#cover-gallery{
    background-image: url("img/HeaderImageGallery.jpg");
}
#gallery .container{
    padding-top: 10px;
}
.gallery-grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}
.image-600{
    grid-column: span 2;
}
.image-401{
    grid-column: span 1;
}
/* CURIOSITA CONTENT */
#cover-curiosità{
    background: url("img/HeaderImageCuriosity.png");
}
#curiosità .container-10{
    padding-top: 100px;
}
#curiosità .textbox{
    padding: 0px;
}
#curiosità #locandine{
    padding-top: 50px;
}


